name: "display environment variables"

on:
  push:
  workflow_dispatch:

jobs:
  display:
    name: Display
    runs-on: ubuntu-latest
    steps:
      - name: Display environment variables
        run: env
      - name: Display custom secrets that add in the repository settings
        run: echo "Hello, ${{ secrets.TEST_DAYO }}!"
      - name: Display custom env that add in the repository settings
        run: echo "Hello, ${{ env.TEST_DESU }}!"
      - name: Display custom env that add in the repository settings
        run: echo "Hello, ${{ vars.TEST_DESU }}!"
      - name: Display custom env that add in the repository settings
        run: echo "Hello, ${{ vars.VARIABLE }}!"
        environment: protection
